/* general styles */
:root {
  --color-bg: #f8f9fa;
  --color-text_off: #002347;
  --color-text_on: #f4a261;
  --color-primer: #053f5c;
  --color-sekunder: #f76c6c;
  --color-primer2: #429ebd;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

body {
  line-height: 1.6;
  background-color: var(--color-bg);
}

h1 {
  font-size: 2.2rem;
  font-weight: bold;
  background: linear-gradient(to right, #041647, #0e41c6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

h2 {
  font-size: 1.5rem;
  color: var(--color-text_off);
}

p {
  font-size: 1rem;
  color: var(--color-text_off);
}

/* ------------------------- navigation ------------------------- */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  padding: 0.75rem 3%;
  color: var(--color-text_off);
  border-bottom: 1px solid var(--color-text_off);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  border-radius: 0 0 20px 20px;
}

.nav .logo img {
  text-decoration: none;
  width: 40%;
}

.nav .navbar a {
  color: var(--color-text_off);
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
  text-decoration: none;
  font-weight: semobold;
}

.nav .navbar a:hover {
  transform: scale(1.1);
  transition: 0.2s linear;
}

.nav .navbar a::after {
  content: "";
  display: block;
  padding-bottom: 0.1rem;
  border-bottom: 0.1rem solid var(--color-text_off);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.nav .navbar a:hover::after {
  transform: scaleX(0.75);
}

.nav .navbar-extra a {
  color: var(--color-text_off);
  text-decoration: none;
  font-size: 1.2rem;
}

#hamburger {
  display: none;
}

/* --------------------------------hero section-------------------------------- */

.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: url(image/hero.png) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.tagline {
  margin: 0 auto;
  text-align: center;
}

.tagline h1 {
  padding: -2rem 0rem 3.8rem;
  margin: 0 auto;
  text-align: center;
  font-size: 2.5rem;
}

.tagline p {
  padding: 0rem 3.8rem;
  margin: 0 auto;
  text-align: center;
  font-size: 1.2rem;
}

/* ----------------------about section---------------------- */

section {
  padding: 60px 50px;
  text-align: center;
}

.rangkaian-section {
  max-width: 800px;
  margin: 0 auto;
  text-align: justify;
}

.about p {
  margin: 20px 0;
  text-indent: 4em;
}

.about h1 {
  margin: 25px 0 10px;
  line-height: 1.4;
  font-size: 35px;
}

.about img {
  border-radius: 10px;
  width: 100%;
  height: auto;
  margin-top: 20px;
}

/* ----------------------competition section---------------------- */

.competition h2 {
  margin: 1.7rem 0rem 1rem;
}

.card-comp {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 40px;
}

.card {
  width: 220px;
  height: 320px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  text-align: center;

  background-color: var(--color-bg);
  transition: filter 0.3s ease, transform 0.3s ease;
}

.card img {
  width: 90%;
  height: 70%;
  object-fit: cover;
  border-radius: 20px;
}

.card p {
  margin: 10px;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}

.card-comp:has(.card:hover) .card:not(:hover) {
  filter: blur(3px);
  transform: scale(0.95);
}

.card-comp .card:hover {
  filter: none;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5), 0 0 20px rgba(0, 123, 255, 0.6),
    0 0 30px rgba(0, 123, 255, 0.7);
}

.card-comp-phone {
  display: none;
}

/* ----------------------event section (skrollable)---------------------- */
.events {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

.events h2 {
  margin-bottom: 10px;
}

.events h1 {
  margin-bottom: 50px;
  margin-top: 10px;
  line-height: 50px;
}

.gambar-geser {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  padding: 20px;
  scroll-behavior: smooth;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.gambar-geser a {
  flex: 0 0 auto;
  text-decoration: none;
}

.gambar-geser img {
  width: 270px;
  height: 224px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition: filter 0.3s ease, transform 0.3s ease;
}

.gambar-geser img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5), 0 0 10px rgba(0, 123, 255, 0.6),
    0 0 15px rgba(0, 123, 255, 0.7);
}

/* ------------------------timeline--------------------------*/

.timeline {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
}

.timeline h1 {
  margin-bottom: 50px;
}

.timeline h3 {
  color: var(--color-text_off);
}

.timeline-container {
  position: relative;
  max-width: 800px;
  margin: auto;
}

.timeline-container::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #003366;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item {
  position: relative;
  width: 50%;
  padding: 10px 20px;
  box-sizing: border-box;
}

.timeline-item.left {
  left: 0;
  text-align: right;
}

.timeline-item.right {
  left: 50%;
  text-align: left;
}

.timeline-item .content {
  background: var(--color-bg);
  padding: 15px;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.timeline-item:hover .content {
  transform: scale(1.05);
}

.timeline-item.left .content::before {
  content: "";
  position: absolute;
  top: 15px;
  right: -12px;
  width: 12px;
  height: 12px;
  background-color: var(--color-primer2);
  border-radius: 50%;
}

.timeline-item.right .content::before {
  content: "";
  position: absolute;
  top: 15px;
  left: -12px;
  width: 12px;
  height: 12px;
  background-color: var(--color-primer2);
  border-radius: 50%;
}

/* ----------------------FAQ section---------------------- */
.faq h1 {
  font-weight: bold;
  padding-bottom: 50px;
}
.faq-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

.faq-item {
  margin-bottom: 20px;
}

.faq-item h3 {
  font-size: 18px;
  color: var(--color-primer);
}

.faq-item p {
  font-size: 16px;
  color: #555555e0;
}

/* ------------------------Footer---------------------------- */

footer {
  background: linear-gradient(to right, #041647, #0e41c6);
  color: var(--color-bg);
  padding: 30px 0;
  text-align: center;
  border-radius: 30px 30px 0 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.footer-section {
  flex: 1;
  min-width: 200px;
}

.footer-section h3 {
  font-size: 18px;
  color: var(--color-bg);
  margin-bottom: 10px;
  border-bottom: 2px;
  padding-bottom: 5px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 8px 0;
}

.footer-section ul li a {
  color: var(--color-bg);
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: var(--color-text_on);
}

.footer-section p {
  margin: 5px 0;
  color: var(--color-bg);
}

.footer-section a {
  color: var(--color-secondary);
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section a:hover {
  color: var(--color-text_on);
}

.social-icon {
  width: 20px;
  vertical-align: middle;
  margin-right: 8px;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 14px;
  opacity: 0.8;
  color: var(--color-bg);
}

/* ------------------------subcompetition page---------------------------- */

.competition-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  margin: 100px auto;
  padding: 20px;
  background: var(--color-bg);
  border-radius: 10px;
}

.competition-card {
  flex: 1;
  max-width: 350px;
}

.competition-card img {
  width: 100%;
  border-radius: 10px;
}

.competition-info {
  flex: 1;
  padding: 20px;
}

.competition-info h1 {
  font-size: 45px;
  line-height: 45px;
  text-align: center;
  padding-bottom: 25px;
}

.competition-info h1 span {
  font-weight: 200;
}

.competition-info p {
  font-size: 16px;
  line-height: 1.6;
  color: var(--color-text_off);
  text-align: justify;
  padding-top: 20px;
  padding-left: 15px;
  padding-bottom: 20px;
}

.btn-register {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background: var(--color-primer);
  color: var(--color-bg);
  font-weight: bold;
  text-decoration: none;
  border-radius: 6px;
  transition: background 0.3s ease-in-out;
  scale: 0.9;
}

.btn-register:hover {
  background: var(--color-text_off);
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5), 0 0 20px rgba(0, 123, 255, 0.6),
    0 0 30px rgba(0, 123, 255, 0.7);
  scale: 1;
  transition: all 0.3s ease-in-out;
}

.competition-card-phone {
  display: none;
}

/* ------------------------registrasi---------------------------- */
.register {
  text-align: center;
  padding: 50px;
}

.register h1 {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 45px;
}

.rcard-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.rcard {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s;
  overflow: hidden;
}

.rcard img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 20px 20px 20px 20px;
}

.rcard h3 {
  color: var(--color-primer);
  margin: 15px 0 10px;
}

.rcard p {
  color: var(--color-text_off);
  font-size: 14px;
  padding: 15px 20px;
}

.rcard button {
  background-color: var(--color-primer);
  color: var(--color-bg);
  border: none;
  padding: 12px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

.rcard button:hover {
  background-color: var(--color-text_off);
  scale: 1.1;
  transition: all 0.3s ease-in-out;
}

.rcard:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5), 0 0 20px rgba(0, 123, 255, 0.6),
    0 0 30px rgba(0, 123, 255, 0.7);
  transition: all 0.3s ease-in-out;
}

/* ------------------------404 Not Found---------------------------- */
.notfound {
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.notfound img {
  width: 900px;
}

/* ------------------------Subevent page---------------------------- */

.isisubevent {
  padding: 45px;
  text-align: center;
  background: white;
}

.isisubevent h1 {
  color: var(--color-primer);
  font-size: 78px;
}

.line {
  border: none;
  height: 1px;
  background: linear-gradient(to right, #041647, #0e41c6);
  margin: -20px 125px 40px 125px;
}

.isisubevent p {
  color: var(--color-text_off);
  padding-right: 75px;
  padding-left: 75px;
  text-align: justify;
  text-indent: 4em;
  font-size: 18px;
}

.isisubevent img {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 60%;
}

.isisubeventSC {
  padding: 50px;
  text-align: center;
  background: white;
  border-radius: 10px;
}

.isisubeventSC h1 {
  color: var(--color-primer);
  font-size: 78px;
  line-height: 80px;
}

.lineSC {
  border: none;
  height: 1px;
  background: linear-gradient(to right, #041647, #0e41c6);
  margin: 0px 125px 40px 125px;
}

.isisubeventSC p {
  color: var(--color-text_off);
  padding-right: 75px;
  padding-left: 75px;
  text-align: justify;
  text-indent: 4em;
  font-size: 18px;
}

.isisubeventSC img {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 60%;
}

.dokumentasi {
  padding: 50px;
  text-align: center;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dokumentasi h1 {
  color: var(--color-primer);
  padding-top: 10px;
  font-size: 70px;
}

.dokumentasi img {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 95%;
}

.dokumentasi [src="../image/MP3HP.png"] {
  display: none;
}

.dokumentasi [src="../image/BD3HP.png"] {
  display: none;
}

.dokumentasi [src="../image/CT3HP.png"] {
  display: none;
}

.dokumentasi [src="../image/CV3HP.png"] {
  display: none;
}

/* -----------------------------------------------PHONEEEEEE----------------------------------------------- */

@media screen and (max-width: 500px) {
  html {
    font-size: 65%;
  }

  section {
    padding: 60px 0px;
  }

  #hamburger {
    display: inline-block;
    width: 65%;
  }
  .nav {
    border-radius: 0 0 0px 20px;
  }

  .nav .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background: rgba(255, 255, 255, 0.85);
    width: 20rem;
    height: 100vh;
    padding: 1rem;
    transition: 0.5s;
    border-left: var(--color-text_off);
    border-radius: 20px 0px 0px 20px;
    backdrop-filter: blur(10px);
    z-index: 1000;
  }

  .navbar.active {
    right: 0;
  }

  .nav .navbar a {
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.2rem;
  }

  .nav .navbar a::after {
    transform-origin: 0 0;
  }

  .nav .navbar a:hover::after {
    transform: scaleX(0.5);
  }

  .hero {
    background: url(image/hero-phone.png) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .tagline h1 {
    font-size: 1.8rem;
  }

  .tagline p {
    padding: 0 10px;
    font-size: 1rem;
  }

  .about h1 {
    font-size: 2.2rem;
    text-align: center;
  }

  .about {
    padding: 40px 20px;
  }

  .card-comp {
    display: none;
  }

  .competition h1 {
    font-size: 2rem;
    line-height: 25px;
  }

  .card-comp-phone {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding: 30px 60px;
  }

  .card-comp-phone img {
    width: 90%;
  }

  .card-comp-phone:has(a:hover) a:not(:hover) {
    transform: scale(0.95);
    filter: blur(3px);
  }

  .card-comp-phone .a:hover {
    transform: scale(1.05);
    filter: blur(0px);
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5), 0 0 20px rgba(0, 123, 255, 0.6),
      0 0 30px rgba(0, 123, 255, 0.7);
  }

  .events {
    padding: 40px 20px;
  }

  .events h1 {
    font-size: 2rem;
    line-height: 30px;
  }

  .gambar-geser img {
    width: 200px;
    height: 160px;
  }

  .timeline {
    padding: 40px 20px;
  }
  .timeline-container::after {
    left: 30px;
  }

  .timeline-item {
    width: 100%;
    padding-left: 50px;
    text-align: left;
  }

  .timeline-item.left {
    left: 0;
    text-align: left;
  }

  .timeline-item.right {
    left: 0;
    text-align: left;
  }

  .timeline-item.left .content::before {
    left: -12px;
  }

  .faq {
    padding: 40px 20px;
  }

  .faq h1 {
    font-size: 2.2rem;
    line-height: 30px;
  }

  .faq h3 {
    font-size: 1.5rem;
  }

  .faq p {
    font-size: 1rem;
  }

  .competition-card {
    display: none;
  }

  .competition-card-phone {
    display: inline-block;
  }

  .competition-container {
    padding: 20px 20px;
    display: block;
    justify-content: center;
    align-items: center;
  }

  .competition-card-phone img {
    width: 80%;
  }

  .competition-container h1 {
    font-size: 3.5rem;
    line-height: 35px;
    text-align: center;
  }

  .competition-container p {
    font-size: 1rem;
  }

  .isisubevent {
    padding: 20px 20px 20px 20px;
    display: block;
    justify-content: center;
    align-items: center;
  }

  .isisubevent h1 {
    font-size: 3rem;
  }
  .line {
    display: none;
  }
  .isisubevent p {
    font-size: 1rem;
    padding: 0px 0px 0px 0px;
  }

  .isisubeventSC {
    padding: 20px 20px 20px 20px;
    display: block;
    justify-content: center;
    align-items: center;
  }

  .isisubeventSC h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  .lineSC {
    display: none;
  }

  .isisubeventSC p {
    font-size: 1rem;
    padding: 0px 0px 0px 0px;
  }

  .dokumentasi {
    padding: 20px 20px 20px 20px;
    display: block;
    justify-content: center;
    align-items: center;
  }

  .dokumentasi h1 {
    font-size: 3rem;
  }

  .dokumentasi [src="../image/MP3.png"] {
    display: none;
  }

  .dokumentasi [src="../image/BD3.png"] {
    display: none;
  }

  .dokumentasi [src="../image/CV4.png"] {
    display: none;
  }

  .dokumentasi [src="../image/CT3.png"] {
    display: none;
  }

  .dokumentasi [src="../image/MP3HP.png"] {
    display: inline-block;
    width: 80%;
  }

  .dokumentasi [src="../image/BD3HP.png"] {
    display: inline-block;
    width: 80%;
  }

  .dokumentasi [src="../image/CV3HP.png"] {
    display: inline-block;
    width: 80%;
  }

  .dokumentasi [src="../image/CT3HP.png"] {
    display: inline-block;
    width: 80%;
  }

  .register {
    padding: 20px 20px 20px 20px;
  }

  .register h1 {
    font-size: 3rem;
    line-height: 3.2rem;
    padding-top: 80px;
  }

  .notfound img {
    width: 80%;
  }
}
